<main class="main-container">

    <app-header></app-header>

    <mat-sidenav-container class="app-container" autosize>

        <mat-sidenav #sidenav [mode]="'side'" [opened]="railSidenav?true:openedSidenav">
            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>
            <section class="page-container">
                Aquí va el contenido de la aplicación.
                <!-- <router-outlet></router-outlet> -->
            </section>
        </mat-sidenav-content>

    </mat-sidenav-container>

    <app-footer></app-footer>

</main>