<header>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button class="ml-0" mat-icon-button (click)="toogle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Portal Data Warehouse</span>
        </div>

        <div style="height: 100%;" fxLayout="row" fxLayoutAlign="space-between center">

            <img height="75%" src="assets/img/logo.png">

        </div>

    </mat-toolbar>
</header>