<p *ngFor="let item of 20 | fillArray; let i = index" style="text-align: justify;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur mollitia, repellendus enim ad culpa quasi odio
    explicabo aliquid iste. Dolores, cupiditate fugiat laborum officia atque ad a sapiente iusto quam. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Eligendi saepe tempora quidem asperiores placeat quam fugiat quod? Minus odit
    nam quibusdam non ab perspiciatis dolorum laboriosam pariatur amet. Mollitia, atque?
</p>