a,
button {
  display: inline-block;
}

.menu-button {
  transition: 200ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.sub-menu-panel {
  box-shadow: none;
}
