<mat-nav-list>
    <a mat-list-item (click)="navService.homeNavigate()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="!rail && expanded" matLine>Inicio</span>
    </a>

    <mat-divider></mat-divider>

    <ng-container *ngFor="let menu of menuService.menuList; let i = index">
        <a mat-list-item (click)="menu.expanded = !menu.expanded">
            <mat-icon *ngIf="menu.icon" mat-list-icon>{{menu.icon}}</mat-icon>
            <span matLine>{{menu.name}}</span>
            <mat-icon class="menu-button" [class.rotated]="menu.expanded">
                keyboard_arrow_down
            </mat-icon>
        </a>
        <mat-expansion-panel *ngIf="menu.submenus" [expanded]="menu.expanded || false">
            <ng-container *ngFor="let submenu of menu.submenus">
                <a *ngIf="!submenu.items" mat-list-item (click)="navService.subMenuNavigate(menu, submenu)">
                    <span class="ml-2">{{submenu.name}}</span>
                </a>
                <a *ngIf="submenu.items" mat-list-item (click)="submenu.expanded = !submenu.expanded">
                    <span class="ml-2" matLine>{{submenu.name}}</span>
                    <mat-icon class="menu-button" [class.rotated]="submenu.expanded || false">
                        keyboard_arrow_down
                    </mat-icon>
                </a>
                <mat-expansion-panel *ngIf="submenu.items" class="sub-menu-panel"
                    [expanded]="submenu.expanded || false">
                    <section fxLayout="column" fxLayoutAlign="none stretch">
                        <ng-container *ngFor="let item of submenu.items">
                            <a mat-list-item (click)="navService.itemNavigate(menu, submenu, item)">
                                <mat-icon *ngIf="item.icon" class="ml-4 mr-2">{{item.icon}}</mat-icon>
                                <span [class.ml-4]="!item.icon">
                                    {{item.name}}
                                </span>
                            </a>
                        </ng-container>
                    </section>
                </mat-expansion-panel>
            </ng-container>
        </mat-expansion-panel>
        <mat-divider *ngIf="menu.expanded && i < menuService.menuList.length - 1" class="mt-2"></mat-divider>

    </ng-container>

    <mat-divider class="mt-2"></mat-divider>


    <a class="mt-2" mat-list-item (click)="logout()">
        <mat-icon mat-list-icon color="warn">power_settings_new</mat-icon>
        <span color="warn" *ngIf="!rail && expanded" matLine>Salir</span>
    </a>




</mat-nav-list>